<li>
	<h4 class='rightzh'>物料名称</h4>
	<p><select class='form-control' style='width:160px; display:inline-block;'><option>物料名称</option></select><label style='width:60px; display:inline-block;'><img src='/lib/img/public/cropmode/jiajia.jpg' /></label></p>
	<p><span class='newsulspan'>类别：--</span><span class='newsulspan'>规格：--</span></p>
	<p><label style='display:block; font-size:15px; color:#666;'>领取数量</label><input class='form-control' value='' style='display:inline-block; width:160px;' /></p>
</li>
