<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/Public/css/left_nav/index.css">
    <link rel="stylesheet" href="/Public/layer/skin/layer.css">
    <link rel="stylesheet" href="/Public/css/new/css/price.css">
</head>
这是menu_right页面
</html>
